* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(120deg, #0F2B05, #000000);
    height: 100vh;
    text-align: center;
}

header {
    padding: 45px 0;
}

header img {
    transform: translate(200px);
    animation: appear 1.4s forwards;
}

.card {
    display: inline-block;
    width: 354px;
    height: 508px;
    background-image: url(./assets/bg-ignite.svg);
    cursor: pointer;
    opacity: 0;
    transform: translateX(-200px);
    animation: appear 1.4s forwards;
    user-select: none;
    -webkit-user-select: none;
}

.card img {
    width: 150px;
    height: 150px;
    margin-top: 115px;
    border-radius: 50%;
    border: solid 4px #F7DD43;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.info {
    margin-top: 93px;
    margin-left: 60px;
    text-align: left;
    color: #FFFFFF;
}

.info h1 {
    line-height: 140%;
    font-size: 18px;
}

.info p {
    font-size: 14px;
    font-weight: 160%;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}